{% extends "base.html" %}  <!-- Herda o template base.html. Todo o conteúdo do base.html estará disponível aqui -->

{% block title %}  <!-- Início do bloco 'title', que sobrescreve o bloco correspondente em base.html -->
{{ Tipo }} - {{ Website_Name }}  <!-- Mostra o título da página usando as variáveis enviadas pelo Flask -->
{% endblock %}  <!-- Fim do bloco 'title' -->

{% block content %}  <!-- Início do bloco 'content', que sobrescreve o bloco correspondente em base.html -->

{% endblock %}  <!-- Fim do bloco 'content' -->